In [14]:
# 1. Write a program to reverse a string.

text = "Harsha"[::-1]
print(text)

ahsraH

In [15]:
# 2. Check if a string is a palindrome.

def isPalindrome(s):
    return s == s[::-1]
 
s = "level"
ans = isPalindrome(s)
 
if ans:
    print("Yes")
else:
    print("No")

Yes

In [16]:
# 3. Convert a string to uppercase.

message = 'python coding'
print(message.upper())

PYTHON CODING

In [17]:
# 4. Convert a string to lowercase.

message = 'PYTHON CODING'
print(message.lower())

python coding

In [18]:
# 5. Count the number of vowels in a string.

string = "Harsha PW Skills"
vowels = "aeiou"
 
count = sum(string.count(vowel) for vowel in vowels)
print(count)

3

In [19]:
# 6. Count the number of consonants in a string.

string = "python is good language"
vowels = 'aeiou'
result = ''
for i in string:
    if i not in vowels:
        result += i

print("The Result is:- ", result)
print("Total consonants are:- ", len(result))

The Result is:-  pythn s gd lngg
Total consonants are:-  15

In [28]:
# 7. Remove all whitespaces from a string.

def remove(string):
    return string.replace(" ", "")
 
 
# Driver Program
string = ' h a r s h  a '
print(remove(string))

harsha

In [29]:
# 8. Find the length of a string without using the `len()` function.

string = 'harsha'
count = 0
for i in string: 
    count+=1
print(count)

6

In [34]:
# 9. Check if a string contains a specific word.

string = "He is good person"
if "good" in string:
    print("The string contains 'good'")
else:
    print("The string does not contain 'good'")

The string contains 'good'

In [40]:
# 10. Replace a word in a string with another word.

string = "Good Morning"
new_string = string.replace("Good", "Great")
  
print(new_string)

Great Morning

In [42]:
# 11. Count the occurrences of a word in a string.

test_str = "Harsha"
counter = test_str.count('a')
print("Count of a in Harsha is : "
      + str(counter))

Count of a in Harsha is : 2

In [44]:
# 12. Find the first occurrence of a word in a string.

word = 'python is good coding'
print(word.find('is'))

7

In [45]:
# 13. Find the last occurrence of a word in a string.

txt = "Hello, welcome to my world."

x = txt.rfind("e")

print(x)

13

In [47]:
# 14. Split a string into a list of words.

txt = "pw skills is good acadamy"

x = txt.split()

print(x)

['pw', 'skills', 'is', 'good', 'acadamy']

In [50]:
# 15. Join a list of words into a string.

list1 = ['h', 'a', 'r', 's', 'h' , 'a']
print("".join(list1))

harsha

In [52]:
# 16 Convert a string where words are separated by spaces to one where words
#are separated by underscores.

my_str = 'harsha pwskills'

result = my_str.replace(' ', '_')

print(result)

harsha_pwskills

In [2]:
# 17. Check if a string starts with a specific word or phrase.

message = 'Python is fun'

# check if the message starts with Python
print(message.startswith('Python'))

True

In [8]:
# 18. Check if a string ends with a specific word or phrase.

message = 'Python is fun'

# check if the message ends with fun
print(message.endswith('fun'))

True

In [7]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").

a = "hellow world"
a.title()

'Hellow World'

In [23]:
# 20. Find the longest word in a string.

str = input("Enter a String: ")
# Split the string to a list of words
word_list = str.split()
# Find the longest word
longest_word = max(word_list, key = len)
# Find the position (index) of longest word
pos = str.index(longest_word)
# Print the longest word and it's position
print("Longest word: ",longest_word)
print("Position of Longest word: ", pos)

Enter a String:  i love pw skills

Longest word:  skills
Position of Longest word:  10

In [26]:
# 21. Find the shortest word in a string.

str = input("Enter a String: ")
# Split the string to a list of words
word_list = str.split()
# Find the shortest word
shortest_word = min(word_list, key = len)
# Find the position (index) of shortest word
pos = str.index(shortest_word)
# Print the shortest word and it's position
print("Shortest word: ",shortest_word)
print("Position of shortest word: ", pos)

Enter a String:  i love pw skills

Shortest word:  i
Position of shortest word:  0

In [31]:
# 22. Reverse the order of words in a string.

str = "i love pw skills"
str[: :-1]

'slliks wp evol i'

In [5]:
# 23. Check if a string is alphanumeric.
# using isalnum() function

str1 = "python coding is good005"
str1.isalnum()

str2 = "python005"
str2.isalnum()

True

In [8]:
# 24. Extract all digits from a string.
# using isdigit() function

string1 = "There are 2 customers and 4 clients"
print("The original string : " + string1) 
res = [int(i) for i in string1.split() if i.isdigit()]
 
print("The numbers list is :" + str(res))

The original string : There are 2 customers and 4 clients
The numbers list is :[2, 4]

In [12]:
# 25. Extract all alphabets from a string.
# using ord(char) function

string2 = input("Enter a string2: ")
only_alpha = ""
for char in string2:
    if ord(char) >= 65 and ord(char) <= 90:
        only_alpha += char
    elif ord(char) >= 97 and ord(char) <= 100:
        only_alpha += char
print(only_alpha)

Enter a string2:  Harsha005

Haa

In [27]:
# 26. Count the number of uppercase letters in a string.

Str="MyNameIsHARSHA"
upper=0
for i in Str:
    if(i.isupper()):
         upper+=1
print("The number of uppercase characters is:",upper)

The number of uppercase characters is: 9

In [26]:
# 27. Count the number of lowercase letters in a string.

Str1="MyNameIsHARSHA"
lower=0
for i in Str:
    if(i.islower()):
         lower+=1
print("The number of lowercase characters is:",lower)

The number of lowercase characters is: 5

In [28]:
# 28. Swap the case of each character in a string.

string = "MynameisHarsha"
 
print(string.swapcase())   
 
string = "mynameisharsha"
print(string.swapcase())  
 
string = "MYNAMEISHARSHA"
print(string.swapcase())

mYNAMEIShARSHA
MYNAMEISHARSHA
mynameisharsha

In [32]:
# 29. Remove a specific word from a string.

print("Enter the String: ")
text = input()

print("Enter a Word to Delete: ")
word = input()

text = text.replace(word, "")

print()
print(text)

Enter the String:

 Harsha joined to class

Enter a Word to Delete:

 to

Harsha joined  class

In [35]:
# 30. Check if a string is a valid email address.

import re
 
# Make a regular expression
# for validating an Email
regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
 
# Define a function for
# for validating an Email
def check(email):
 
    # pass the regular expression
    # and the string into the fullmatch() method
    if(re.fullmatch(regex, email)):
        print("Valid Email")
 
    else:
        print("Invalid Email")

if __name__ == '__main__':
 
    # Enter the email
    email = "harsha123@xyz.com"

check(email)

Valid Email

In [43]:
# 31. Extract the username from an email address string.

def test(email_address):
	r = email_address.index("@")
	return "".join(l for l in email_address[:r] if l.isalpha())

email_address = "harsha@xyz.com"
print("Original Email:", email_address)
print("Extract the username from Email address:")
print(test(email_address))

Original Email: harsha@xyz.com
Extract the username from Email address:
harsha

In [44]:
# 32. Extract the domain name from an email address string.

test_str = 'harsha@pythonskills.com'
 
# printing original string
print("The original string is : " + str(test_str))
 
# slicing domain name using slicing 
res = test_str[test_str.index('@') + 1 : ]
 
# printing result 
print("The extracted domain name : " + str(res))

The original string is : harsha@pythonskills.com
The extracted domain name : pythonskills.com

In [50]:
# 33. Replace multiple spaces in a string with a single space.

my_str = 'ha  rsh   a'

result = " ".join(my_str.split())
print(repr(result))

'ha rsh a'

In [3]:
# 34. Check if a string is a valid URL.

def Find(string):
    x=string.split()
    res=[]
    for i in x:
        if i.startswith("https:") or i.startswith("http:"):
            res.append(i)
    return res

string = 'My Profile: https://www.google.com/'
print("Urls: ", Find(string))

# input : https://www.google.com/

Urls:  ['https://www.google.com/']

In [5]:
# 35. Extract the protocol (http or https) from a URL string.

import requests
from bs4 import BeautifulSoup
 
url = 'https://www.google.com/'
reqs = requests.get(url)
soup = BeautifulSoup(reqs.text, 'html.parser')
 
urls = []
for link in soup.find_all('a'):
    print(link.get('href'))

https://www.google.com/imghp?hl=en&tab=wi
https://maps.google.co.in/maps?hl=en&tab=wl
https://play.google.com/?hl=en&tab=w8
https://www.youtube.com/?tab=w1
https://news.google.com/?tab=wn
https://mail.google.com/mail/?tab=wm
https://drive.google.com/?tab=wo
https://www.google.co.in/intl/en/about/products?tab=wh
http://www.google.co.in/history/optout?hl=en
/preferences?hl=en
https://accounts.google.com/ServiceLogin?hl=en&passive=true&continue=https://www.google.com/&ec=GAZAAQ
/advanced_search?hl=en-IN&authuser=0
https://www.google.com/setprefs?sig=0_3SKOSglM5NtvpPx1l_wei_SajUo%3D&hl=hi&source=homepage&sa=X&ved=0ahUKEwj-xJbv1oKCAxXkS2wGHRrLA3QQ2ZgBCAU
https://www.google.com/setprefs?sig=0_3SKOSglM5NtvpPx1l_wei_SajUo%3D&hl=bn&source=homepage&sa=X&ved=0ahUKEwj-xJbv1oKCAxXkS2wGHRrLA3QQ2ZgBCAY
https://www.google.com/setprefs?sig=0_3SKOSglM5NtvpPx1l_wei_SajUo%3D&hl=te&source=homepage&sa=X&ved=0ahUKEwj-xJbv1oKCAxXkS2wGHRrLA3QQ2ZgBCAc
https://www.google.com/setprefs?sig=0_3SKOSglM5NtvpPx1l_wei_SajUo%3D&hl=mr&source=homepage&sa=X&ved=0ahUKEwj-xJbv1oKCAxXkS2wGHRrLA3QQ2ZgBCAg
https://www.google.com/setprefs?sig=0_3SKOSglM5NtvpPx1l_wei_SajUo%3D&hl=ta&source=homepage&sa=X&ved=0ahUKEwj-xJbv1oKCAxXkS2wGHRrLA3QQ2ZgBCAk
https://www.google.com/setprefs?sig=0_3SKOSglM5NtvpPx1l_wei_SajUo%3D&hl=gu&source=homepage&sa=X&ved=0ahUKEwj-xJbv1oKCAxXkS2wGHRrLA3QQ2ZgBCAo
https://www.google.com/setprefs?sig=0_3SKOSglM5NtvpPx1l_wei_SajUo%3D&hl=kn&source=homepage&sa=X&ved=0ahUKEwj-xJbv1oKCAxXkS2wGHRrLA3QQ2ZgBCAs
https://www.google.com/setprefs?sig=0_3SKOSglM5NtvpPx1l_wei_SajUo%3D&hl=ml&source=homepage&sa=X&ved=0ahUKEwj-xJbv1oKCAxXkS2wGHRrLA3QQ2ZgBCAw
https://www.google.com/setprefs?sig=0_3SKOSglM5NtvpPx1l_wei_SajUo%3D&hl=pa&source=homepage&sa=X&ved=0ahUKEwj-xJbv1oKCAxXkS2wGHRrLA3QQ2ZgBCA0
/intl/en/ads/
http://www.google.co.in/services/
/intl/en/about.html
https://www.google.com/setprefdomain?prefdom=IN&prev=https://www.google.co.in/&sig=K_ZrhtQtY2MdosK0VaETMpOGDIAoY%3D
/intl/en/policies/privacy/
/intl/en/policies/terms/

In [8]:
# 36. Find the frequency of each character in a string.

test_str = "Harsha"
 
# using naive method to get count
all_freq = {}
 
for i in test_str:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1

# printing result
print("Count of all characters in Harsha is :\n "
      + str(all_freq))

Count of all characters in Harsha is :
 {'H': 1, 'a': 2, 'r': 1, 's': 1, 'h': 1}

In [6]:
# 37. Remove all punctuation from a string.

punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
my_str = "Wow!! PW SKILLS is Awsome...."
no_punct = ""
for char in my_str:
    if char not in punctuations:
        no_punct = no_punct + char
print(no_punct)

Wow PW SKILLS is Awsome

In [11]:
# 38. Check if a string contains only digits.

my_string = "1234"
if my_string.isdigit():
    print("The string contains only digits!")
else:
    print("The string does not contain only digits.")

The string contains only digits!

In [14]:
# 39. Check if a string contains only alphabets.

txt = "pwskills"
x = txt.isalpha()
print(x)

True

In [15]:
# 40. Convert a string to a list of characters.

string = "pwskills"
print([*string])

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [16]:
# 41. Check if two strings are anagrams.

def check(s1, s2):
    if(sorted(s1)== sorted(s2)):
        print("The strings are anagrams.") 
    else:
        print("The strings aren't anagrams.")
s1 ="listen"
s2 ="silent"
check(s1, s2)

The strings are anagrams.

In [38]:
# 42. Encode a string using a Caesar cipher.

def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [39]:
# 43. Decode a Caesar cipher encoded string.

def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [10]:
# 44. Find the most frequent word in a string.
# Using loop + max() + split() + defaultdict()

from collections import defaultdict
test_list = ["pwskills is the best platfor to learn", "pwskills has different various courses", "pwskills is best"]
print("The original list is : " + str(test_list))
temp = defaultdict(int)
for sub in test_list:
    for wrd in sub.split():
        temp[wrd] += 1
res = max(temp, key=temp.get)
print("Word with maximum frequency : " + str(res))

The original list is : ['pwskills is the best platfor to learn', 'pwskills has different various courses', 'pwskills is best']
Word with maximum frequency : pwskills

In [11]:
# 45. Find all unique words in a string.

my_str = 'one one two two'
unique_words = set(my_str.split())
print(unique_words)
length = len(unique_words)
print(length)

{'one', 'two'}
2

In [39]:
# 46. Count the number of syllables in a string.

word = input("Enter the word:")
syllable_count = 0
for w in word:
    if (
        w == "a"
        or w == "e"
        or w == "i"
        or w == "o"
        or w == "u"
        or w == "A"
        or w == "E"
        or w == "I"
        or w == "O"
        or w == "U"
    ):
        syllable_count = syllable_count + 1
print("The number of syllables in the word is: ")
print(syllable_count)

Enter the word: pw-skills

The number of syllables in the word is:
1

In [43]:
# 47. Check if a string contains any special characters.

import re
def run(string):
    regex = re.compile('[@_!#$%^&*()<>?/\|}{~:]')
    if(regex.search(string) == None):
        print("String is accepted")
    else:
        print("String is not accepted.")
if __name__ == '__main__' :
    string = "pwskills@005"
run(string)

String is not accepted.

In [46]:
# 48. Remove the nth word from a string.

test_str = "GFG is for Geeks"
print("The original string is : " + test_str)
N = 3
count = 0
res = ""
for ele in test_str:
    if ele == ' ':
        count = count + 1
        if count == N:
            break
        res = ""
    else :
        res = res + ele
        
print("The Nth word in String : " + res)

The original string is : GFG is for Geeks
The Nth word in String : for

In [51]:
# 49. Insert a word at the nth position in a string.

x = 'pwmskills'
ch = 'm'
i = 3

output = x[:i] + ch + x[i:]

print(output)

pwmmskills

In [76]:
# 50. Convert a CSV string to a list of lists.

string1="This is Python"
 
print("The actual string:",string1)
 
#converting string1 into a list of strings
string1=string1.split()
 
list1=list(map(list,string1))
 
#printing the resultant list of lists
print("Converted to list of character list :\n",list1)

The actual string: This is Python
Converted to list of character list :
 [['T', 'h', 'i', 's'], ['i', 's'], ['P', 'y', 't', 'h', 'o', 'n']]

In [77]:
# List Based Practice Problem

In [79]:
# 1. Create a list with integers from 1 to 10.

n = 10
output = []
for i in range(1, n+1):
    output.append(i)

print(output)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [83]:
# 2. Find the length of a list without using the `len()` function.
# using len() method

inp_lst = ['Python', 'Java', 'Ruby', 'JavaScript']
size = len(inp_lst)
print(size)

4

In [85]:
# 3. Append an element to the end of a list.

fruit_list = ["Apple", "Banana"]

print(f'Current Fruits List {fruit_list}')

new_fruit = input("Please enter a fruit name:\n")

fruit_list.append(new_fruit)

print(f'Updated Fruits List {fruit_list}')

Current Fruits List ['Apple', 'Banana']

Please enter a fruit name:
 pine apple

Updated Fruits List ['Apple', 'Banana', 'pine apple']

In [86]:
# 4. Insert an element at a specific index in a list.

lst = ["Hello", "TutorialsPoint", 20, "python", "code"]
print("List =",lst)

insertItem = "sample"

# giving the index value at which the item to be inserted
indexValue = 2

# inserting the given list item at the specified index(here 2)
lst.insert(indexValue, insertItem)

print("The list after inserting the given list item at the specified index:")
print("List = ",lst)

List = ['Hello', 'TutorialsPoint', 20, 'python', 'code']
The list after inserting the given list item at the specified index:
List =  ['Hello', 'TutorialsPoint', 'sample', 20, 'python', 'code']

In [87]:
# 5. Remove an element from a list by its value.

lst = ['Iris', 'Orchids', 'Rose', 'Lavender',
    'Lily', 'Carnations']
print("Original List is :", lst)
 
# using remove()
lst.remove('Orchids')
print("After deleting the item :", lst)

Original List is : ['Iris', 'Orchids', 'Rose', 'Lavender', 'Lily', 'Carnations']
After deleting the item : ['Iris', 'Rose', 'Lavender', 'Lily', 'Carnations']

In [89]:
# 6. Remove an element from a list by its index.

inputList = ["Welcome", "to", "tutorialspoint", "python"]
givenIndex = 3
# deleting the list item at the given index using the del keyword
del inputList[givenIndex]

print("List after deleting specified list item:", inputList)

List after deleting specified list item: ['Welcome', 'to', 'tutorialspoint']

In [90]:
# 7. Check if an element exists in a list.

lst=[ 1, 6, 3, 5, 3, 4 ] 
#checking if element 7 is present
# in the given list or not
i=7
# if element present then return
# exist otherwise not exist
if i in lst: 
    print("exist") 
else: 
    print("not exist")

not exist

In [91]:
# 8. Find the index of the first occurrence of an element in a list.

list2 = ['cat', 'bat', 'mat', 'cat', 'pet'] 
  
# Will print the index of 'bat' in list2 
print(list2.index('bat'))

1

In [94]:
# 9. Count the occurrences of an element in a list.

def countX(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
    return count
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x,countX(lst, x)))

8 has occurred 5 times

In [96]:
# 10. Reverse the order of elements in a list.

def Reverse(lst):
    new_lst = lst[::-1]
    return new_lst
 
lst = [10, 11, 12, 13, 14, 15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [97]:
# 11. Sort a list in ascending order.

prime_numbers = [11, 3, 7, 5, 2]

# sorting the list in ascending order
prime_numbers.sort()

print(prime_numbers)

[2, 3, 5, 7, 11]

In [98]:
# 12. Sort a list in descending order.

# vowels list
vowels = ['e', 'a', 'u', 'o', 'i']

# sort the vowels
vowels.sort(reverse=True)

# print vowels
print('Sorted list (in Descending):', vowels)

Sorted list (in Descending): ['u', 'o', 'i', 'e', 'a']

In [105]:
# 13. Create a list of even numbers from 1 to 20.

# list of numbers
list1 = [10, 21, 4, 45, 66, 93]
 

for num in list1:
 
    # checking condition
    if num % 2 == 0:
        print(num, end=" ")

10 4 66

In [106]:
# 14. Create a list of odd numbers from 1 to 20.

# list of numbers
list1 = [10, 21, 4, 45, 66, 93]
 

for num in list1:
 
    # checking condition
    if num % 2 != 0:
        print(num, end=" ")

21 45 93

In [107]:
# 15. Find the sum of all elements in a list.

list = [1,2,3,4,5]
print(sum(list))

15

In [110]:
# 16. Find the maximum value in a list.

list1 = [4, -4, 8, -9, 1]
 

# using Python list max() function.
maxValue = max(list1)
 
# Printing value stored in maxValue.
print(maxValue)

8

In [111]:
# 17. Find the minimum value in a list.

list1 = [4, -4, 8, -9, 1]
 

# using Python list max() function.
minValue = min(list1)
 
# Printing value stored in maxValue.
print(minValue)

-9

In [112]:
# 18. Create a list of squares of numbers from 1 to 10.

squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [113]:
# 19. Create a list of random numbers.

import random
 
rand_list=[]
n=10
for i in range(n):
    rand_list.append(random.randint(3,9))
print(rand_list)

[6, 4, 8, 9, 3, 3, 6, 4, 6, 7]

In [117]:
# 20. Remove duplicates from a list.

ints_list = [1, 2, 3, 4, 3, 2]

temp = []

for x in ints_list:
    if x not in temp:
        temp.append(x)

ints_list = temp

print(f'Updated List after removing duplicates = {temp}')

Updated List after removing duplicates = [1, 2, 3, 4]

In [118]:
# 21. Find the common elements between two lists.

def common_member(a, b):
    a_set = set(a)
    b_set = set(b)
 
    if (a_set & b_set):
        print(a_set & b_set)
    else:
        print("No common elements") 
          
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
common_member(a, b)
  
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9]
common_member(a, b)

{5}
No common elements

In [119]:
# 22. Find the difference between two lists.

li1 = [10, 15, 20, 25, 30, 35, 40]
li2 = [25, 40, 35]
 
temp3 = []
for element in li1:
    if element not in li2:
        temp3.append(element)
print(temp3)

[10, 15, 20, 30]

In [120]:
# 23. Merge two lists.
test_list1 = [1, 4, 5, 6, 5]
test_list2 = [3, 5, 7, 2, 5]
 
# using naive method to concat
for i in test_list2 :
    test_list1.append(i)
print ("Concatenated list using naive method : "
                            + str(test_list1))

Concatenated list using naive method : [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

In [121]:
# 24. Multiply all elements in a list by 2.

def multiplyList(myList):
 
    # Multiply elements one by one
    result = 1
    for x in myList:
        result = result * x
    return result
 
list1 = [1, 2, 3]
list2 = [3, 2, 4]
print(multiplyList(list1))
print(multiplyList(list2))

6
24

In [122]:
# 25. Filter out all even numbers from a list.

lis = [1, 2, 3, 4, 5]
 
# Output list initialisation
out = []
 
for num in lis:
 
    # checking condition
    if num % 2 == 0:
        out.append(num)
 
 
# printing output
print(out)

[2, 4]

In [1]:
# 26. Convert a list of strings to a list of integers.

lis = ['1', '-4', '3', '-6', '7']
res = [eval(i) for i in lis]
print("Modified list is: ", res)

Modified list is:  [1, -4, 3, -6, 7]

In [2]:
# 27. Convert a list of integers to a list of strings.

list_int = [1, 12, 15, 21, 131]
   
# mapping 
list_string = map(str, list_int) 
   
# Printing sorted list of integers 
print(list(list_string))

['1', '12', '15', '21', '131']

In [3]:
# 28. Flatten a nested list.

my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [4]:
# 29. Create a list of the first 10 Fibonacci numbers.

n = 10
num1 = 0
num2 = 1
next_number = num2  
count = 1
 
while count <= n:
    print(next_number, end=" ")
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
print()

1 2 3 5 8 13 21 34 55 89

In [5]:
# 30. Check if a list is sorted.

a = ("b", "g", "a", "d", "f", "c", "h", "e")
x = sorted(a)
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [4]:
# 31. Rotate a list to the left by `n` positions.

ltList = [11, 22, 33, 44, 55, 66, 77, 88]

ltRotate = int(input("Enter Position to Left Rotate List Items = "))

print('Original List Items Before Left Rotating')
print(ltList)

for i in range(ltRotate):
    firstValue = ltList[0]
    for j in range(len(ltList) - 1):
        ltList[j] = ltList[j + 1]
    ltList[len(ltList) - 1] = firstValue

print('Final List Items After Left Rotating')
print(ltList)

Enter Position to Left Rotate List Items =  6

Original List Items Before Left Rotating
[11, 22, 33, 44, 55, 66, 77, 88]
Final List Items After Left Rotating
[77, 88, 11, 22, 33, 44, 55, 66]

In [5]:
# 32. Rotate a list to the right by `n` positions.

rtList = [10, 20, 30, 40, 50, 60, 70]

rtRotate = int(input("Enter Position to Rotate List Items = "))

print('Original List Items Before Right Rotating')
print(rtList)

list1 = rtList[-rtRotate:] + rtList[:-rtRotate]

print('\nFinal List Items After Right Rotating')
print(list1)

Enter Position to Rotate List Items =  6

Original List Items Before Right Rotating
[10, 20, 30, 40, 50, 60, 70]

Final List Items After Right Rotating
[20, 30, 40, 50, 60, 70, 10]

In [7]:
# 33. Create a list of prime numbers up to 50.

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
 
prime_numbers = [x for x in range(1, 51) if is_prime(x)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [10]:
# 34. Split a list into chunks of size `n`.
def split(list_a, chunk_size):
    for i in range(0, len(list_a), chunk_size):
        yield list_a[i:i + chunk_size]

chunk_size = 2
my_list = [1,2,3,4,5,6,7,8,9]
print(list(split(my_list, chunk_size)))

[[1, 2], [3, 4], [5, 6], [7, 8], [9]]

In [11]:
# 35. Find the second largest number in a list.

list1 = [10, 20, 4, 45, 99]
 
mx = max(list1[0], list1[1]) 
secondmax = min(list1[0], list1[1]) 
n = len(list1)
for i in range(2,n): 
    if list1[i] > mx: 
        secondmax = mx
        mx = list1[i] 
    elif list1[i] > secondmax and \
        mx != list1[i]: 
        secondmax = list1[i]
    elif mx == secondmax and \
        secondmax != list1[i]:
          secondmax = list1[i]
print("Second highest number is : ",\
      str(secondmax))

Second highest number is :  45

In [12]:
# 36. Replace every element in a list with its square.

def square_list(list1):
    for i in list1:
        list1[list1.index(i)] = i**2
    print(list1)

square_list([1, 2, 3, 4, 5])

[1, 16, 9, 4, 25]

In [13]:
# 37. Convert a list to a dictionary where list elements become keys and their
#indices become values.

def list_to_dict_with_index(lst):
    dict_with_index = {index: value for index, value in enumerate(lst)}
    return dict_with_index
 
if __name__ == "__main__":
    sample_list = ['a', 'b', 'c', 'd', 'e']
    result_dict = list_to_dict_with_index(sample_list)
    print(result_dict)

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [14]:
# 38. Shuffle the elements of a list randomly.

import random

mylist = ["apple", "banana", "cherry"]
random.shuffle(mylist)

print(mylist)

['banana', 'cherry', 'apple']

In [17]:
# 39. Create a list of the first 10 factorial numbers.

num = 10
factorial = 1
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,num + 1):
        factorial = factorial*i
        print("The factorial of",num,"is",factorial)

The factorial of 10 is 1
The factorial of 10 is 2
The factorial of 10 is 6
The factorial of 10 is 24
The factorial of 10 is 120
The factorial of 10 is 720
The factorial of 10 is 5040
The factorial of 10 is 40320
The factorial of 10 is 362880
The factorial of 10 is 3628800

In [18]:
# 40. Check if two lists have at least one element in common.

def common_data(list1, list2):
    result = False
 
    # traverse in the 1st list
    for x in list1:
 
        # traverse in the 2nd list
        for y in list2:
   
            # if one common
            if x == y:
                result = True
                return result 
                 
    return result
     

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_data(a, b))
 
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9]
print(common_data(a, b))

True
False

In [20]:
# 41. Remove all elements from a list.

LIST = [6, 0, 4, 1]
print('LIST before clear:', LIST)
 
# Clearing list
LIST.clear()
print('LIST after clear:', LIST)

LIST before clear: [6, 0, 4, 1]
LIST after clear: []

In [21]:
# 42. Replace negative numbers in a list with 0.

given_list = [1, 2, 3, 4, -1, -4, 5, -6]

print(f'List before changes: {given_list}')

for i in range(len(given_list)):
    if given_list[i] < 0:
        given_list[i] = 0

print(f'List after changes: {given_list}')

List before changes: [1, 2, 3, 4, -1, -4, 5, -6]
List after changes: [1, 2, 3, 4, 0, 0, 5, 0]

In [22]:
# 43. Convert a string into a list of words.

s = "PWSKILLS"
x = list(s)
print(x)

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [24]:
# 44. Convert a list of words into a string.

def listToString(s):
 
    # initialize an empty string
    str1 = ""
 
    # traverse in the string
    for ele in s:
        str1 += ele
 
    # return string
    return str1
# Driver code
s = ['PW', 'Skills', 'is' , 'awsome']
print(listToString(s))

PWSkillsisawsome

In [25]:
#45. Create a list of the first `n` powers of 2.

import math
 
# Function to check
# Log base 2
def Log2(x):
    return (math.log10(x) /
            math.log10(2));
 
# Function to check
# if x is power of 2
def isPowerOfTwo(n):
    return (math.ceil(Log2(n)) == math.floor(Log2(n)));
 
# Driver Code
if(isPowerOfTwo(31)):
    print("Yes");
else:
    print("No");
if(isPowerOfTwo(64)):
    print("Yes");
else:
    print("No");

No
Yes

In [28]:
# 46. Find the longest string in a list of strings.

test_list = ['gfg', 'is', 'best', 'for', 'PWSKILLS']
 
# printing original list 
print("The original list : " + str(test_list))
 
# Longest String in list
# using loop
max_len = -1
for ele in test_list:
    if len(ele) > max_len:
        max_len = len(ele)
        res = ele

print("Maximum length string is : " + res)

The original list : ['gfg', 'is', 'best', 'for', 'PWSKILLS']
Maximum length string is : PWSKILLS

In [30]:
# 47. Find the shortest string in a list of strings.

test_list = ['gfg', 'is', 'best']
 
# printing original list
print("The original list : " + str(test_list))
 
# Minimum String length
# using min() + generator expression
res = min(len(ele) for ele in test_list)
 
# printing result
print("Length of minimum string is : " + str(res))

The original list : ['gfg', 'is', 'best']
Length of minimum string is : 2

In [31]:
# 48. Create a list of the first `n` triangular numbers.

limit = 10
triangle_nums = []
num = 0

for i in range(1, limit + 1):
    num += i
    triangle_nums.append(num)
print(triangle_nums)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [32]:
# 49. Check if a list contains another list as a subsequence.

test_list = [9, 4, 5, 8, 10]
sub_list = [10, 5, 4]
 
# printing original lists
print("Original list : " + str(test_list))
print("Original sub list : " + str(sub_list))
 
# using all() to
# check subset of list
flag = 0
if(all(x in test_list for x in sub_list)):
    flag = 1
if (flag):
    print("Yes, list is subset of other.")
else:
    print("No, list is not subset of other.")

Original list : [9, 4, 5, 8, 10]
Original sub list : [10, 5, 4]
Yes, list is subset of other.

In [34]:
# 50. Swap two elements in a list by their indices.

def swapPositions(list, pos1, pos2):
     
    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list

List = [23, 65, 19, 90]
pos1, pos2  = 1, 3
 
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

In [35]:
# Tuple Based Practice Problem

In [36]:
# 1. Create a tuple with integers from 1 to 5.

my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3, 4, 5)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

In [37]:
# 2. Access the third element of a tuple

test_list = [(1, 'Rash', 21), (2, 'Varsha', 20), (3, 'Kil', 19)]
 
# printing original list 
print ("The original list is : " + str(test_list))

res = [lis[1] for lis in test_list]

print ("List with only nth tuple element (i.e names) : " + str(res))

The original list is : [(1, 'Rash', 21), (2, 'Varsha', 20), (3, 'Kil', 19)]
List with only nth tuple element (i.e names) : ['Rash', 'Varsha', 'Kil']

In [2]:
# 3. Find the length of a tuple without using the `len()` function.

string = 'Hello'

count = 0

for i in string:
 
    count+=1
print(count)

5

In [5]:
# 4. Count the occurrences of an element in a tuple.

def countX(tup, x):
    count = 0
    for ele in tup:
        if (ele == x):
            count = count + 1
    return count
 
tup = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
enq = 4
enq1 = 10
enq2 = 8
 
print(countX(tup, enq))
print(countX(tup, enq1))
print(countX(tup, enq2))

0
3
4

In [6]:
# 5. Find the index of the first occurrence of an element in a tuple.

my_tuple = (1, 2, 3, 2, 4, 2, 5)
index = my_tuple.index(2)
print(index)

1

In [7]:
# 6. Check if an element exists in a tuple.

tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
print("r" in tuplex)
print(5 in tuplex)

True
False

In [10]:
# 7. Convert a tuple to a list.

my_tuple = ('a', 'mm', 'ppp', 'bb', 'cc')

print(my_tuple)
print(type(my_tuple))

('a', 'mm', 'ppp', 'bb', 'cc')
<class 'tuple'>

In [11]:
# 8. Convert a list to a tuple.

my_list = ['aa', 'pp', 'yy', 'r', 'kkk']

print(my_list)
print(type(my_list))

['aa', 'pp', 'yy', 'r', 'kkk']
<class 'list'>

In [13]:
# 9. Unpack the elements of a tuple into variables.

a = ("MNNIT Allahabad", 5000, "Engineering")  

(college, student, type_ofcollege) = a  

print(college)
 
print(student)

print(type_ofcollege)

MNNIT Allahabad
5000
Engineering

In [14]:
# 10. Create a tuple of even numbers from 1 to 10.

evTuple = (3, 78, 67, 34, 88, 11, 23, 19)
print("Tuple Items = ", evTuple)

print("\nThe Even Numbers in this evTuple Tuple are:")
for i in range(len(evTuple)):
    if(evTuple[i] % 2 == 0):
        print(evTuple[i], end = "  ")

Tuple Items =  (3, 78, 67, 34, 88, 11, 23, 19)

The Even Numbers in this evTuple Tuple are:
78  34  88

In [15]:
# 11. Create a tuple of odd numbers from 1 to 10.

oddTuple = (9, 22, 33, 45, 56, 77, 89, 90)
print("Odd Tuple Items = ", oddTuple)

print("\nThe Odd Numbers in oddTuple Tuple are:")
for i in range(len(oddTuple)):
    if(oddTuple[i] % 2 != 0):
        print(oddTuple[i], end = "  ")

Odd Tuple Items =  (9, 22, 33, 45, 56, 77, 89, 90)

The Odd Numbers in oddTuple Tuple are:
9  33  45  77  89

In [16]:
# 12. Concatenate two tuples.

test_tup1 = (1, 3, 5)
test_tup2 = (4, 6)

print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))
res = test_tup1 + test_tup2

print("The tuple after concatenation is : " + str(res))

The original tuple 1 : (1, 3, 5)
The original tuple 2 : (4, 6)
The tuple after concatenation is : (1, 3, 5, 4, 6)

In [17]:
# 13. Repeat a tuple three times.

my_tuple_1 = (11, 14, 0)

print("The tuple is : ")
print(my_tuple_1)
N = 5

my_result = ((my_tuple_1, ) * 3)

print("The tuple after duplicating "+ str(3) + " times is")
print(my_result)

The tuple is :
(11, 14, 0)
The tuple after duplicating 3 times is
((11, 14, 0), (11, 14, 0), (11, 14, 0))

In [19]:
# 14. Check if a tuple is empty.

Mytuple=()
if not Mytuple:
    print ("Mytuple is empty")
else:
    print ("Mytuple is not empty")
# Printing the tuple
print(Mytuple)

Mytuple is empty
()

In [20]:
# 15. Create a nested tuple.

x = ("Mohan", ("Satyam", "Rishab") , "Paul", "Kriti", "Salim")
print("The first element of the nested Tuple is ", x[1][0])
print("The second element of the nested Tuple is ", x[1][1])

The first element of the nested Tuple is  Satyam
The second element of the nested Tuple is  Rishab

In [21]:
# 16. Access the first element of a nested tuple.

x = ("Mohan", ("Satyam", "Rishab") , "Paul", "Kriti", "Salim")
print("The first element of the nested Tuple is ", x[1][0])

The first element of the nested Tuple is  Satyam

In [24]:
# 17. Create a tuple with a single element.

thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [27]:
# 18. Compare two tuples.

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The two tuples are equal")
else:
    print("The two tuples are not equal")

The two tuples are equal

In [8]:
# 19. Delete a tuple.

In [9]:
# 20. Slice a tuple.

a = ("a", "b", "c", "d", "e", "f", "g", "h")
x = slice(2)
print(a[x])

('a', 'b')

In [10]:
# 21. Find the maximum value in a tuple.

Tuple = ( 1, 3, 4, 2, 5, 6 ) 
   
res = max(Tuple) 
print('Maximum of Tuple is', res)

Maximum of Tuple is 6

In [11]:
# 22. Find the minimum value in a tuple.

Tuple = ( 1, 3, 4, 2, 5, 6 ) 
   
res = min(Tuple) 
print('Maximum of Tuple is', res)

Maximum of Tuple is 1

In [12]:
# 23. Convert a string to a tuple of characters.

s = "python"
print("Input string :", s)

t = s,
print('Output tuple:', t)
print(type(t))

Input string : python
Output tuple: ('python',)
<class 'tuple'>

In [14]:
# 24. Convert a tuple of characters to a string.

def convertTuple(tup):
        # initialize an empty string
    str = ''
    for item in tup:
        str = str + item
    return str

tuple = ('p','w','s','k','i','l','l','s')
str = convertTuple(tuple)
print(str)

pwskills

In [15]:
# 25. Create a tuple from multiple data types.

tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

('tuple', False, 3.2, 1)

In [1]:
# 26. Check if two tuples are identical.

test_list1 = [1, 2, 4, 3, 5]
test_list2 = [1, 2, 4, 3, 5]
 

print("The first list is : " + str(test_list1))
print("The second list is : " + str(test_list2))
 

test_list1.sort()
test_list2.sort()
 
# using == to check if
# lists are equal
if test_list1 == test_list2:
    print("The lists are identical")
else:
    print("The lists are not identical")

The first list is : [1, 2, 4, 3, 5]
The second list is : [1, 2, 4, 3, 5]
The lists are identical

In [2]:
# 27. Sort the elements of a tuple.

tuple_ = ('Itika', 'Arshia', 'Peter', 'Parker')  
list(tuple_).sort()   
print(tuple_)  
print(type(tuple_))

('Itika', 'Arshia', 'Peter', 'Parker')
<class 'tuple'>

In [3]:
# 28. Convert a tuple of integers to a tuple of strings.

tupleString = "(3, 7, 1, 9)"
print("The string tuple is : " + tupleString)

# Converting tuple string to integer tuple 
intTuple = tuple(int(ele) for ele in tupleString.replace('(', '').replace(')', '').replace('...', '').split(', '))

# Printing the converted integer tuple 
print("The integer Tuple is : " + str(intTuple))

The string tuple is : (3, 7, 1, 9)
The integer Tuple is : (3, 7, 1, 9)

In [4]:
# 29. Convert a tuple of strings to a tuple of integers.

tupleString = "(3, 7, 1, 9)"
print("The string tuple is : " + tupleString)

# Converting tuple string to integer tuple 
intTuple = tuple(int(ele) for ele in tupleString.replace('(', '').replace(')', '').replace('...', '').split(', '))

# Printing the converted integer tuple 
print("The integer Tuple is : " + str(intTuple))

The string tuple is : (3, 7, 1, 9)
The integer Tuple is : (3, 7, 1, 9)

In [5]:
# 30. Merge two tuples.

A = (1, 2, 3)
B = ('a', 'b', 'c')
print("The first tuple, A : ", A)
print("The second tuple, B : ", B)
C = A + B
print("The resulting tuple is, C : ", C)

The first tuple, A :  (1, 2, 3)
The second tuple, B :  ('a', 'b', 'c')
The resulting tuple is, C :  (1, 2, 3, 'a', 'b', 'c')

In [6]:
# 31. Flatten a nested tuple.

def flatten(test_tuple):
     
    if isinstance(test_tuple, tuple) and len(test_tuple) == 2 and not isinstance(test_tuple[0], tuple):
        res = [test_tuple]
        return tuple(res)
 
    res = []
    for sub in test_tuple:
        res += flatten(sub)
    return tuple(res)
 
# initializing tuple
test_tuple = ((4, 5), ((4, 7), (8, 9), (10, 11)), (((9, 10), (3, 4))))
 
# printing original tuple
print("The original tuple : " + str(test_tuple))
 
# Flatten Nested Tuples
# Using recursion + isinstance()
res = flatten(test_tuple)
 
# printing result 
print("The flattened tuple : " + str(res))

The original tuple : ((4, 5), ((4, 7), (8, 9), (10, 11)), ((9, 10), (3, 4)))
The flattened tuple : ((4, 5), (4, 7), (8, 9), (10, 11), (9, 10), (3, 4))

In [9]:
# 32. Create a tuple of the first 5 prime numbers.

def prime_numbers(n):
    primes = []
    for i in range(2, n + 1):
        for j in range(2, int(i ** 0.5) + 1):
            if i%j == 0:
                break
        else:
            primes.append(i)
    return primes

prime_list = prime_numbers(5)
print(prime_list)

[2, 3, 5]

In [11]:
# 33. Check if a tuple is a palindrome.

test_list = (1, 4, 5, 4, 1)
 
# printing original list
print("The original tuple is : " + str(test_list))
 
# Reversing the list
reverse = test_list[::-1]
 
# checking if palindrome
res = test_list == reverse
 
# printing result 
print("Is list Palindrome : " + str(res))

The original tuple is : (1, 4, 5, 4, 1)
Is list Palindrome : True

In [17]:
# 34. Create a tuple of squares of numbers from 1 to 5.

squares = [x**2 for x in range(1, 5)]
print(squares)

[1, 4, 9, 16]

In [28]:
# 35. Filter out all even numbers from a tuple.

list_A = (1,2,3,4,5,6,7,8,9,10)

res = []

for n in list_A:
    if n % 2 == 0:
        res.append(n)
print(res)

[2, 4, 6, 8, 10]

In [29]:
# 36. Multiply all elements in a tuple by 2.

from functools import reduce

my_tuple = (2, 3, 5)

result = reduce(lambda x, y: x * y, my_tuple)
print(result)

30

In [30]:
# 37. Create a tuple of random numbers.

import numpy as np
import random
X=np.random.randint(10,20)
print(X)

12

In [31]:
# 38. Check if a tuple is sorted.

def is_tuple_sorted(t):
    for i in range(1, len(t)):
        
        if t[i] < t[i-1]:
            return False
    return True
# create a tuple
t = (1, 2, 3, 4, 5)
# check if tuple is sorted
print(is_tuple_sorted(t))

True

In [44]:
# 39. Rotate a tuple to the left by `n` positions.
ltList = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

ltRotate = int(input("Enter Position to Left Rotate List Items = "))

print('Original List Items Before Left Rotating')
print(ltList)

list2 = ltList[ltRotate:] + ltList[:ltRotate]

print('\nFinal List Items After Left Rotating')
print(list2)


#output 
#Enter Position to Left Rotate List Items =  3
#Original List Items Before Left Rotating
#[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

Enter Position to Left Rotate List Items =  3

Original List Items Before Left Rotating
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

Final List Items After Left Rotating
[20, 25, 30, 35, 40, 45, 50, 5, 10, 15]

In [35]:
#  40. Rotate a tuple to the right by `n` positions.

def rightRotate(lists, num):
    output_list = []
 
    # Will add values from n to the new list
    for item in range(len(lists) - num, len(lists)):
        output_list.append(lists[item])
 
    
    for item in range(0, len(lists) - num):
        output_list.append(lists[item])
 
    return output_list

rotate_num = 3
list_1 = [1, 2, 3, 4, 5, 6]
 
print(rightRotate(list_1, rotate_num))

[4, 5, 6, 1, 2, 3]

In [54]:
# 41. Create a tuple of the first 5 Fibonacci numbers.

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
    print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
    print("Fibonacci sequence upto",nterms,":")
    print(n1)
# generate fibonacci sequence
else:
    print("Fibonacci sequence:")
    while count < nterms:
        print(n1)
        nth = n1 + n2
       # update values
        n1 = n2
        n2 = nth
        count += 1
# input: How many terms?  10

How many terms?  10

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [59]:
# 42. Create a tuple from user input.

a=input ("Enter tuple :") 
print (a)

Enter tuple : 5

5

In [60]:
# 43. Swap two elements in a tuple.

test_list = [(3, 4), (6, 5), (7, 8)]
 
# printing original list
print("The original list is : " + str(test_list))
 
# Swap tuple elements in list of tuples
# Using list comprehension
res = [(sub[1], sub[0]) for sub in test_list]
         
# printing result
print("The swapped tuple list is : " + str(res))

The original list is : [(3, 4), (6, 5), (7, 8)]
The swapped tuple list is : [(4, 3), (5, 6), (8, 7)]

In [61]:
# 44. Reverse the elements of a tuple.

def Reverse(tuples):
    new_tup = tuples[::-1]
    return new_tup
     
# Driver Code
tuples = ('z','a','d','f','g','e','e','k')
print(Reverse(tuples))

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

In [62]:
# 45. Create a tuple of the first `n` powers of 2.

print("Enter the Total Number of Terms: ")
tot = int(input())

for i in range(tot):
    print("2 raised to the power ", i, " is ", 2 ** i)

Enter the Total Number of Terms:

 5

2 raised to the power  0  is  1
2 raised to the power  1  is  2
2 raised to the power  2  is  4
2 raised to the power  3  is  8
2 raised to the power  4  is  16

In [76]:
# 46. Find the longest string in a tuple of strings.

def find_maximum(lst,start=0,max_word=''):
  if start==len(lst):  #base condition
    return max_word
  if len(lst[start])>len(max_word):  
    max_word=lst[start]
  return find_maximum(lst,start+1,max_word)  #calling recursive function
 
# initialize list 
test_list = ['gfg', 'is', 'best', 'for', 'pwskillsssss']
   
# printing original list 
print("The original list : " + str(test_list))
   
# Longest String in list
# using recursive function
res = find_maximum(test_list)
   
# printing result
print("Maximum length string is : " + res)

The original list : ['gfg', 'is', 'best', 'for', 'pwskillsssss']
Maximum length string is : pwskillsssss

In [77]:
# 47. Find the shortest string in a tuple of strings.

test_list = ['gfg', 'is', 'best']
 
# printing original list
print("The original list : " + str(test_list))
 
# Minimum String length
# using min() + generator expression
res = min(len(ele) for ele in test_list)
 
# printing result
print("Length of minimum string is : " + str(res))

The original list : ['gfg', 'is', 'best']
Length of minimum string is : 2

In [78]:
# 48. Create a tuple of the first `n` triangular numbers.

def triangular_series( n ):
    j = 1
    k = 1
     
    # For each iteration increase j 
    # by 1 and add it into k
    for i in range(1, n + 1):
        print(k, end = ' ')
        j = j + 1 # Increasing j by 1
         
        # Add value of j into k and update k
        k = k + j 
         
# Driven Code
n = 5
triangular_series(n)

1 3 6 10 15

In [79]:
# 49. Check if a tuple contains another tuple as a subsequence.

test_tup1 = (10, 4, 5, 6)
test_tup2 = (5, 10) 
x=[j for a,i in enumerate(test_tup1) for j in test_tup2] 
print(["yes" if x else "no"])

['yes']

In [81]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.

test_tuple = (5, 6, 3, 6, 10, 34)
 
# printing original tuple
print("The original tuple : " + str(test_tuple))
 
# Alternate Elements operation on Tuple
# Using loop + enumerate()
sum1 = 0
sum2 = 0
for idx, ele in enumerate(test_tuple):
    if idx % 2:
        sum1 += ele
    else:
        sum2 += ele
print("The alternate chain sum 1 : " + str(sum1))
print("The alternate chain sum 2 : " + str(sum2))

The original tuple : (5, 6, 3, 6, 10, 34)
The alternate chain sum 1 : 46
The alternate chain sum 2 : 18

In [82]:
# Set Based Practice Problems

In [83]:
# 1. Create a set with integers from 1 to 5.

student_id = {112, 114, 116, 118, 115}
print('Student ID:', student_id)

Student ID: {112, 114, 115, 116, 118}

In [86]:
# 2. Add an element to a set.

set1 = {1,2,3}
set1.add('4,5,6')

print(set1)

{1, 2, 3, '4,5,6'}

In [89]:
# 3. Remove an element from a set.

set1 = {1,2,3}
set1.remove(2)
print (set1)

{1, 3}

In [90]:
# 4. Check if an element exists in a set.

set1 = {1,2,3}
if 2 in set1:
    print("yes")

yes

In [12]:
# 5. Find the length of a set without using the `len()` function.

def main():
    example = str(input("Enter the string: "))
    print("The length of the ", example, " string is: ", string(example))
    
def string(length):
    if length=='':
        return 0
    else:
        return 1+string(length[1:])
        
main()

Enter the string:  welcome to pwskills

The length of the  welcome to pwskills  string is:  19

In [14]:
# 6. Clear all elements from a set.

set1 = {"ram", "sam"}
set1.clear()
print(set1)

set()

In [16]:
# 7. Create a set of even numbers from 1 to 10.

lower = 1
upper = 10

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between 1 and 10 are:
2
3
5
7

In [22]:
# 8. Create a set of odd numbers from 1 to 10.

start, end = (4, 19)
for num in range(start, end + 1):
    if num % 2 != 0:
        print(num, end = " ")

5 7 9 11 13 15 17 19

In [23]:
# 9. Find the union of two sets.

A = {2, 4, 5, 6} 
B = {4, 6, 7, 8}
 
print("A U B:", A.union(B))

A U B: {2, 4, 5, 6, 7, 8}

In [24]:
# 10. Find the intersection of two sets.
A = {2, 3, 5}
B = {1, 3, 5}

print(A.intersection(B))

{3, 5}

In [27]:
# 11. Find the difference between two sets.

A = {10, 20, 30, 40, 80}
B = {100, 30, 80, 40, 60}
print (A.difference(B))
print (B.difference(A))

{10, 20}
{100, 60}

In [28]:
# 12. Check if a set is a subset of another set.

A = {1, 2, 3}
B = {1, 2, 3, 4, 5}

# all items of A are present in B
print(A.issubset(B))

True

In [29]:
# 13. Check if a set is a superset of another set.

nums = {10,20,30,40,50}
print("Original set: ",nums)
print("If nums is superset of itself?")
print(nums.issuperset(nums))

Original set:  {50, 20, 40, 10, 30}
If nums is superset of itself?
True

In [30]:
# 14. Create a set from a list.

set1 = {1, 2, 3, 4, 5}
list_to_add = [6, 7, 8]
set1.update(list_to_add)
print('Updated set after adding elements: ', set1)

Updated set after adding elements:  {1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
# 15. Convert a set to a list.

set2=set({"ram" , "sam"})
print(set2)

{'ram', 'sam'}

In [34]:
# 16. Remove a random element from a set.

set1 = {1, 2, 3, 4, 5}
set1.remove (1)
print(set1)

{2, 3, 4, 5}

In [38]:
# 17. Pop an element from a set.

set3 = {1, 2, 3, 4, 5}
set3.pop ()
print(set3)

{2, 3, 4, 5}

In [39]:
# 18. Check if two sets have no elements in common.

set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8}

print(set1.isdisjoint(set2))

True

In [40]:
# 19. Find the symmetric difference between two sets.

set_A = {1, 2, 3, 4, 5}
set_B = {6, 7, 3, 9, 4}
print(set_A.symmetric_difference(set_B))

{1, 2, 5, 6, 7, 9}

In [41]:
#20. Update a set with elements from another set.

# Create the first set
set1 = {1, 2, 3}
print("Set 1:", set1)

# Create the second set
set2 = {3, 4, 5}
print("Set 2:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

In [ ]:
# 21. Create a set of the first 5 prime numbers.

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_set = set()
num = 2
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)
        num += 1
        print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2}
Set of the first 5 prime numbers: {2, 3}

In [3]:
# 22. Check if two sets are identical.

set10 = {1, 2, 3, 4, 5}
set20 = {3, 1, 5, 2, 4}
if set10 == set20:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [4]:
# 23. Create a frozen set

elements = [1, 2, 3, 4, 5]
my_frozen_set = frozenset(elements)
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [5]:
# 24. Check if a set is disjoint with another set.
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
disjoint_status = set1.isdisjoint(set2)
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [7]:
# 25. Create a set of squares of numbers from 1 to 5.

squares_set = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    square = num ** 2
    squares_set.add(square)
print(squares_set)

{1, 4, 9, 16, 25}

In [9]:
# 26. Filter out all even numbers from a set.

original_set = {1, 2, 3, 4, 5}
even_numbers_set = set()
for num in original_set:
    if num % 2 == 0:
        even_numbers_set.add(num)

print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [10]:
# 27. Multiply all elements in a set by 2.

original_set = {1, 2, 3, 4, 5}
multiplied_set = set()
for num in original_set: 
    multiplied_num = num * 2
    multiplied_set.add(multiplied_num)
print("Original Set:", original_set)
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [12]:
# 28. Create a set of random numbers.

import random
num_random_numbers = 5
random_number_set = set()
for _ in range(num_random_numbers):
    random_num = random.randint(1, 100)  
    # Add the random number to the set
    random_number_set.add(random_num)
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {65, 67, 12, 86, 58}

In [13]:
# 29. Check if a set is empty.

my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [14]:
# 30. Create a nested set (hint: use frozenset).

# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [15]:
# 31. Remove an element from a set using the discard method.

my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [16]:
# 32. Compare two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [17]:
# 33. Create a set from a string.

input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Step 3: Print the resulting set
print(char_set)

{'o', 'e', 'h', 'l'}

In [18]:
# 34. Convert a set of strings to a set of integers.

string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'456', '123', '789'}
Converted Integer Set: {456, 123, 789}

In [19]:
# 35. Convert a set of integers to a set of strings.

integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'2', '5', '4', '1', '3'}

In [20]:
# 36. Create a set from a tuple.

input_tuple = (1, 2, 3, 2, 4, 5, 1)
output_set = set(input_tuple)
print(output_set)

{1, 2, 3, 4, 5}

In [22]:
# 37. Convert a set to a tuple.

input_set = {1, 2, 3, 4, 5}
output_tuple = tuple(input_set)
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [23]:
# 38. Find the maximum value in a set.

my_set = {15, 7, 22, 13, 8}

max_value = None
for num in my_set:
    if max_value is None or num > max_value:
        max_value = num  
print("Maximum value:", max_value)

Maximum value: 22

In [24]:
# 39. Find the minimum value in a set.

number_set = {15, 8, 23, 4, 42, 11}
min_value = None
for num in number_set:
    if min_value is None or num < min_value:
        min_value = num
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

In [25]:
# 40. Create a set from user input.

user_set = set()
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  

    if user_input.lower() == 'done':
        break 
    user_set.add(user_input)
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  pwskills
>  done

Final set: {'pwskills'}

In [26]:
# 41. Check if the intersection of two sets is empty.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_result = set1.intersection(set2)
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [27]:
# 42. Create a set of the first 5 Fibonacci numbers.

fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [28]:
# 43. Remove duplicates from a list using sets.

original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [29]:
# 44. Check if two sets have the same elements, regardless of their count.

def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [30]:
# 45. Create a set of the first n powers of 2

def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

In [31]:
# 46. Find the common elements between a set and a list.

my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [32]:
# 47. Create a set of the first n triangular numbers.:

def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  5

The set of the first 5 triangular numbers is: {1, 3, 6, 10, 15}

In [34]:
# 48. Check if a set contains another set as a subset.

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [36]:
# 49. Create a set of alternating 1s and 0s of length n.

def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

In [37]:
# 50. Merge multiple sets into one.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)

print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}